.Quotes{
  display: grid;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 5rem;
  padding-top: 140px;
  padding-bottom: 50px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),
  url(pexels-pixabay-221387.jpg);

}