.quotes {
  margin: 2em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 1em;
  padding-top: 100px;
}
.pagination-container{
  height: 50px;
  background-color: rgb(89, 76, 76);
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: span 4;
}