
.teams{
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  padding-top:130px;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgb(235,255,0),   rgb(0,252,165), rgb(4,240,254));

}