.card {
  background-color: rgb(231, 218, 218);
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(47, 141, 255, 0.5);
  margin: 20px;
  padding: 20px;
  img{
    border-radius: 20px;
  }
  p{
    margin: 0;
    font-weight: bold;
  }
  h1{
    font-size: 20px;
  }
}

.card-price {
  width: 100%;
  height: 30px;
  background-color: rgb(15, 15, 105);
  border-radius: 6px;
  padding: 6px;
  margin-top: 30px;
  color: aliceblue;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  gap: 10px;
}

.icon {
  font-size: 18px;
  padding-left: 6px;
  color: aliceblue;
}
.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-title {
  font-size: 1.4em;
  margin-bottom: 8px;
  color: black;
}

.card-location {
  font-size: 1em;
  color: #201f1f;
  margin:0;
  font-weight: bold;
}

.card-text {
  font-size: 1em;
  color: #201f1f;
}
.card-total {
  font-size: 1em;
  color: #201f1f;
  margin-right: 190px;
  }
    input{
      padding: 5px;
      border-radius: 10px;
      background-color: white;
      color: black;
    }

.button-text {
  color: aliceblue;
  font-size: 14px;
}
.saveNights-btn{
  padding: 5px;
  border-radius: 10px;
  color: white;
  font-size: 15px;
  background-color: #0F0F69;
  margin-left: 15px;
  border: none;
}
.saveNights-btn:hover{
  border: #0F0F69;
}