.SignUp-main{
  display: flex;
  justify-content: center;
}
.signUpCard{
  z-index: 77;
  filter: none;
  position: relative;
  display: flex;
  width: 70vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 25px;

  input{
    width: 70%;
    font-size: 20px;
    padding: 20px;
    border-radius: 20px;
  }
}
.checkBox-div{
  display: flex;
  margin: 0;
  input{
    height: 20px;
    width: 20px;
    margin-top:20px ;
    margin-right: 20px;
  }
  p{
    font-size: 15px;
    width: 350px;
  }
}
.signUp-btn{
  width: 75%;
  font-size: 20px;
  padding: 20px;
  border-radius: 20px;
}