.aboutUs{
  display: flex;
  min-height: 100vh;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url(../AboutUs/chicago-343941_1280.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-top: 110px;

}
.div-whoWeAre{
  margin: 0;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  h1{
    font-size: 40px;
  }:hover{
    cursor:copy;
  }
  p{
    width: 50%;
    text-align: center;
  }
}
.abt {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin: 0;

}
.aboutUs-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 22rem;
  height: 35rem;
  border-radius: 10%;
  padding: 10px;
  box-shadow:  
  inset 0 -3em 3em rgba(0, 103, 200, 0.7),
  0 0 0 2px rgb(42, 11, 80),
  0.3em 0.3em 1em rgba(50, 6, 40, 2.6);;
  h1{
    font-size: 30px;
  }
  p{

  }
  p:last-child {
    width: 90%;
    text-align: center;
  }
  img{
    display: flex;
    height: 300px;
    width: 90%;
    border-radius: 50%;
  }
}

h2:hover{
  cursor:copy;
}